.search-wrapper {
  ::ng-deep {
    .mat-mdc-text-field-wrapper {
      background-color: #80c3ec1f !important;
      border: 0.5px solid #0071bc !important;
    }
  }
}

.items-center {
  ::ng-deep {
    .mat-mdc-text-field-wrapper {
      border-radius: 15px !important;
    }

    .filter-wrapper {
      .mat-mdc-text-field-wrapper {
        background: #0071bc !important;
      }

      .mat-mdc-select-arrow, .mat-mdc-select-value-text {
        color: white !important;
        font-size: 14px;
        font-weight: 600;
      }

      .mat-mdc-select-placeholder {
        color: white !important;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.56px;
      }
    }

    .cdk-overlay-pane {
      width: fit-content;
    }
  }
}

::ng-deep.select-wrapper {
  .mat-mdc-option {
    .mdc-list-item__primary-text {
      white-space: nowrap !important;
    }
  }
}
