<div class="flex flex-col flex-auto min-w-0 mb-10">
    <app-page-heading>
        <ng-container titleSlot>
            <div class="flex justify-between w-full ml-4">
                <ng-container>
                    <div class="text-white text-2xl md:text-5xl font-semibold tracking-tight leading-7 md:leading-snug truncate">
                        Axes Invoices
                    </div>
                </ng-container>
            </div>
        </ng-container>
    </app-page-heading>

    <div class="flex-auto pt-4 mx-6 sm:pt-6">
        <div class="w-full mx-auto ">
            <div class="flex flex-col flex-auto p-6 gap-4 shadow rounded-2xl overflow-visible bg-white">
                <div class="flex flex-col sm:flex-row items-start justify-between">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate flex items-center justify-between w-full">
                        <div class="flex items-center gap-2">
                            <mat-icon class="icon-size-5 text-axe-blue" [svgIcon]="'heroicons_custom:invoices'"></mat-icon>
                            <span class="text-sky-700 font-semibold text-base tracking-wider">INVOICE
                                TABLE</span>
                        </div>
                        <ng-container actionSlot>
                            <a class="bg-sky-700 rounded-md" mat-flat-button [color]="'accent'" routerLink="/quotes/add">
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus'"></mat-icon>
                                <span class="ml-2 font-medium text-sm">Add Quote</span>
                            </a>
                        </ng-container>
                    </div>
                </div>
                <div class="flex flex-col">
                    <ag-grid-angular style="width: 100%; height: 100%" class="ag-theme-alpine"
                                     [columnDefs]="columnDefs"
                                     [gridOptions]="gridOptions"
                                     [defaultColDef]="defaultColDef"
                                     [rowData]="rowData"
                                     [getRowStyle]="lastRowBorder"
                        (gridReady)="onGridReady($event)"></ag-grid-angular>
                </div>
            </div>
        </div>
    </div>
</div>