<div class="flex flex-col flex-auto min-w-0">
    <app-page-heading>
        <ng-container titleSlot>
            <div class="text-2xl md:text-5xl font-semibold tracking-tight leading-7 md:leading-snug truncate text-white">
                Add Purchase Order
            </div>
        </ng-container>
    </app-page-heading>
    <fuse-card class="w-3/4 mx-auto px-8 py-8 m-10">
        <div class="flex flex-col flex-auto">
            <app-purchase-order-form></app-purchase-order-form>
        </div>
    </fuse-card>
</div>