<div class="flex flex-col flex-auto w-full" *ngIf="creditNoteDetails && creditNoteDetails.length">
    <app-page-heading>
        <ng-container titleSlot>
            <div class="flex justify-between w-full ml-4">
                <ng-container>
                    <div class="text-white text-2xl md:text-5xl font-semibold tracking-tight leading-7 md:leading-snug truncate">
                        Credit Note {{ creditNoteDetails[0]?.creditNoteId }}
                    </div>
                </ng-container>
                <button
                        class="hidden sm:inline-flex bg-axe-blue px-4 text-white text-base font-medium rounded-md self-start"
                        mat-stroked-button
                        (click)="exportAsPdf()"
                >
                    <mat-icon class="icon-size-5 text-white" [svgIcon]="'heroicons_mini:arrow-up-on-square'"></mat-icon>
                    <span class="ml-2 text-white">Export</span>
                </button>
            </div>
        </ng-container>
    </app-page-heading>

    <div class="flex-1">
        <div class="min-w-0 text-center overflow-auto print:overflow-visible">
            <div class="inline-block p-6 sm:p-10 text-left print:p-0">
                <div
                    #exportable
                    class="exportable-content flex flex-col justify-between min-h-200 w-240 p-16 rounded-2xl shadow bg-card print:w-auto print:p-0 print:rounded-none print:shadow-none print:bg-transparent"
                >
                    <div>
                        <div class="flex justify-between items-start">
                            <div class="grid grid-rows-2 place-items-start gap-y-12">
                                <div class="grid auto-cols-max grid-flow-col gap-x-8">
                                    <div class="place-self-center w-24">
                                        <img src="../../../../../../assets/images/logo/axe.jpeg" class="w-24" />
                                    </div>
                                    <div class="pl-10 border-l text-md">
                                        <div class="font-medium">AXE BUILD PRIVATE LIMITED</div>
                                        <div>31 Asbestos Road Kelvin West</div>
                                        <div>Bulawayo, Zimbabwe</div>
                                        <div>BP#2003132251</div>
                                        <div>+263-292-482-349</div>
                                        <div>axebuild09&#64;gmail.com</div>
                                    </div>
                                </div>
                                <div class="grid auto-cols-max grid-flow-col gap-x-8" *ngIf="client">
                                    <div class="place-self-center w-24 text-center text-2xl text-secondary">Bill To</div>
                                    <div class="pl-10 border-l text-md">
                                        <div class="font-medium">{{ client.name }}</div>
                                        <div>{{ client.addresses[0]?.street }}</div>
                                        <div *ngIf="client.addresses[0]?.country">
                                            {{ client.addresses[0]?.country }}, {{ client.addresses[0]?.city }}
                                        </div>
                                        <div>{{ client.phones[0]?.phone }}</div>
                                        <div>{{ client.emails[0]?.email }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid grid-cols-2">
                                <div class="text-lg tracking-tight text-secondary">No.</div>
                                <div class="text-xl">{{ creditNoteDetails[0]?.creditNoteId }}</div>
                                <div class="text-lg tracking-tight text-secondary">Date</div>
                                <div class="font-medium">{{ creditNoteDetails[0]?.dateCreated | date: 'dd-MM-yyyy' }}</div>
                            </div>
                        </div>

                        <div class="grid grid-cols-12 gap-x-1 mt-10" *ngIf="manufacturedProductsGrouped.length > 0">
                            <div class="col-span-6 font-medium text-md text-secondary">PRODUCTS</div>
                            <div class="col-span-2 font-medium text-md text-right text-secondary">LENGTH</div>
                            <div class="col-span-2 font-medium text-md text-right text-secondary">UNIT PRICE</div>
                            <div class="col-span-2 font-medium text-md text-right text-secondary">TOTAL PRICE</div>
                            <div class="col-span-12 my-4 border-b"></div>
                            <div class="col-span-12 gap-x-1 grid grid-cols-12" *ngFor="let groupedItem of manufacturedProductsGrouped">
                                <div class="col-span-6">
                                    <div class="text-lg font-medium">{{ groupedItem.frameType }} - {{ groupedItem.frameName }}</div>
                                    <div class="mt-2 text-md text-secondary"> Frame Type </div>
                                </div>
                                <div class="col-span-2 self-center text-right">{{ groupedItem.totalLengthOrQty }} m</div>
                                <div class="col-span-2 self-center text-right">{{ groupedItem.unitPrice | currency }}</div>
                                <div class="col-span-2 self-center text-right">{{ groupedItem.totalPrice | currency }}</div>
                                <div class="col-span-12 my-4 border-b"></div>
                            </div>
                        </div>

                        <div class="grid grid-cols-12 gap-x-1 mt-10" *ngIf="consumablesGrouped.length > 0">
                            <div class="col-span-6 font-medium text-md text-secondary">CONSUMABLES</div>
                            <div class="col-span-2 font-medium text-md text-right text-secondary">QTY</div>
                            <div class="col-span-2 font-medium text-md text-right text-secondary">UNIT PRICE</div>
                            <div class="col-span-2 font-medium text-md text-right text-secondary">TOTAL PRICE</div>
                            <div class="col-span-12 my-4 border-b"></div>
                            <div class="col-span-12 gap-x-1 grid grid-cols-12" *ngFor="let groupedItem of consumablesGrouped">
                                <div class="col-span-6">
                                    <div class="text-lg font-medium">{{ groupedItem.frameType }} - {{ groupedItem.frameName }}</div>
                                </div>
                                <div class="col-span-2 self-center text-right">{{ groupedItem.totalItems }}</div>
                                <div class="col-span-2 self-center text-right">{{ groupedItem.unitPrice | currency }}</div>
                                <div class="col-span-2 self-center text-right">{{ groupedItem.totalPrice | currency }}</div>
                                <div class="col-span-12 my-4 border-b"></div>
                            </div>
                        </div>

                        <div class="col-span-12 text-right font-bold mt-10">
                            Total Price: {{ totalPrice | currency }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
