<div *ngIf="coil">
    <!-- [ngStyle]="{'background-color': coil.cssColor}" -->
    <div [ngClass]="[coilBgColor, coilBorderColor]"
        class="coil-header border rounded-t-xl flex items-center p-3 justify-between">
        <div class="font-semibold text-lg" [ngClass]="coilTextColor">
            {{coil.estMtrsRemaining ? 'Coil Id: ' + coil.coilNumber : 'Out of stock'}}
        </div>
        <div class="flex items-center justify-between px-4 py-1 border bg-white rounded-2xl w-40">
            <mat-icon [svgIcon]="'heroicons_outline:paint-brush'"
                class="text-axe-dark-blue icon-size-5"></mat-icon>
            <div title="{{coil.color}}"
                class="text-axe-dark-blue font-semibold text-base max-w-[85px] text-ellipsis overflow-hidden whitespace-nowrap">
                {{coil.color}}
            </div>
        </div>
    </div>
    <div
        class="w-full p-3 {{'border-'+coil.cssColor}} border {{'bg-'+coil.cssColor}}/[0.1] rounded-b-xl bg-white">
        <div class="flex justify-between items-center">
            <div class="text-[#64748B] text-xs font-medium">
                Card number: {{coil.cardNumber}}
            </div>
            <div class="text-[#64748B] text-xs font-medium"
                *ngIf="coil?.loadedTime; else notLoadedTemp">
                Loaded: {{coil?.steelCoilId ? coil?.loadedTime :
                coil?.loadedTime}}
            </div>
            <ng-template #notLoadedTemp>
                <div class="text-[#64748B] text-xs font-medium">Not Loaded</div>
            </ng-template>
        </div>
        <hr class="my-4 h-px border-t-0 border-axe-dark-blue opacity-20 dark:opacity-50" />
        <div class="flex flex-wrap justify-between">
            <div class="flex flex-col gap-2 items-start ">
                <div class="flex gap-2 items-center justify-center">
                    <mat-icon [svgIcon]="'heroicons_outline:flag'"
                        class="text-sky-600 icon-size-5"></mat-icon>
                    <span class="text-sky-600 font-medium text-sm tracking-wider">WIDTH</span>
                </div>
                <div class="text-axe-dark-blue text-lg font-medium">
                    {{coil?.width}} mm
                </div>
            </div>
            <div class="flex flex-col gap-2 items-start ">
                <div class="flex gap-2 items-center justify-center">
                    <mat-icon [svgIcon]="'heroicons_outline:speedometer'"
                        class="text-sky-600 icon-size-5"></mat-icon>
                    <span class="text-sky-600 font-medium text-sm tracking-wider">GAUGE</span>
                </div>
                <div class="text-axe-dark-blue text-lg font-medium">
                    {{coil.gauge}}
                </div>
            </div>
            <div class="flex flex-col gap-2 items-start ">
                <div class="flex gap-2 items-center justify-center">
                    <mat-icon [svgIcon]="'heroicons_outline:square-2-stack'"
                        class="text-sky-600 icon-size-5"></mat-icon>
                    <span class="text-sky-600 font-medium text-sm tracking-wider">COATING</span>
                </div>
                <div class="text-axe-dark-blue text-lg font-medium">
                    {{coil.coating}}
                </div>
            </div>
            <div class="flex flex-col gap-2 items-start ">
                <div class="flex gap-2 items-center justify-center">
                    <mat-icon [svgIcon]="'heroicons_outline:meters'"
                        class="text-sky-600 icon-size-5"></mat-icon>
                    <span class="text-sky-600 font-medium text-sm tracking-wider">MS LEFT</span>
                </div>
                <div class="text-axe-dark-blue text-lg font-medium">
                    {{coil.estMtrsRemaining}}
                </div>
            </div>
        </div>
        <hr class="my-4 h-px border-t-0 border-axe-dark-blue opacity-20 dark:opacity-50" />
        <div class="flex items-center justify-between">
            <div class="flex flex-col items-baseline justify-evenly">
                <div class="text-axe-dark-blue font-medium text-sm">
                    Cuts Made: {{coil.cutsMade ?? '0'}}
                </div>
                <div class="text-axe-dark-blue font-medium text-sm">
                    Total Meters: {{coil.totalMetersCut ?? '0'}}
                </div>
            </div>
            <div>
                <button [matMenuTriggerFor]="actionsMenu"
                    class="bg-[#0071BC] opac w-22 py-2 px-4 text-white text-base font-medium rounded-md">Actions</button>

                <mat-menu class="rounded-2xl border border-axe-light-blue mt-1 px-4"
                    #actionsMenu="matMenu">
                    <button *ngIf="coil.estMtrsRemaining" mat-menu-item (click)="onViewCoil(coil)"
                        class="text-axe-dark-blue font-medium text-sm border-t-0 border-x-0 border-b border-[#64748B]/[20%] border-solid">View
                        Coil</button>
                    <button (click)="onCoilLoad(coil)" *ngIf="coil.estMtrsRemaining" mat-menu-item
                        class="text-axe-dark-blue font-medium text-sm border-t-0 border-x-0 border-b border-[#64748B]/[20%] border-solid">Load
                        Coil</button>
                    <button *ngIf="coil.metersRemaining" (click)="onAddWastage()" mat-menu-item
                        class="text-axe-dark-blue font-medium text-sm border-t-0 border-x-0">Add
                        wastage</button>
                    <button *ngIf="!coil.metersRemaining" mat-menu-item
                        class="text-axe-dark-blue font-medium text-sm border-t-0 border-x-0">Order
                        Coil</button>
                </mat-menu>
            </div>
        </div>
    </div>
</div>